@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


:root{
    --color-principal: #1E201E;
    --color-secundario: #ECDFCC;
    --color-terciario: #68835f;

    --fuente-principal: "Montserrat", sans-serif;
    --fuente-secundaria: "Krona One", sans-serif;
    
}
body{
    background-color: var(--color-principal);
    color: var(--color-secundario);
    box-sizing: border-box;
    
}

.header{
    padding: 3% 0% 0% 13% ;
}

.menu-header{
    display: flex;
    gap: 3rem;  
}

.menu-header-link{
    font-family: var(--fuente-principal);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secundario);
}

.menu-header-link:hover{
    color: var(--color-terciario);
    transition: 0.2s;

}


.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion{
        display: flex;
        align-items: center;
        padding: 4% 13% 2% 13%;
        gap: 3rem;
}

.presentacion-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.presentacion-texto-titulo{
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
    font-weight: 400;
    font-style: normal;
    line-height: 3.375rem;
}

.presentacion-texto-parrafo{
    font-size: 1.375rem;
    font-family: var(--fuente-principal);
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;

}

.presentacion-anclas{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
 
}

.presentacion-subtitulo-enlaces{
    font-family: var(--fuente-secundaria);
    font-size: 1.375rem;    
    font-weight: 400;
}  

.presentacion-anclas-enlaces{
    width: 95%;
    height: 4.25rem;
    align-items: center;
    font-size: 1.375rem;
    font-family: var(--fuente-principal);
    font-weight: 600;
    border-radius: 0.625rem;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    
    gap: 0.625rem;
}

.presentacion-anclas-enlaces:hover{
    background-color: #272727;
    transition-duration: 0.3s;
    padding: 0.5%;


}
.imagen{ 
    width: 45%;

}

.footer{
    background-color: var(--color-terciario);
    padding: 0.938rem;
    color: var(--color-principal);
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    width: auto;
}


@media (max-width: 900px){
    .presentacion{
        flex-direction: column;
        padding: 7%;
    }

    .presentacion-texto{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .imagen{
        width: 90%;
        padding: 5%;
    }

    .header{
        padding: 10%;
    }
    .menu-header{
        justify-content: center;
    }
    .menu-header-link{
        font-size: 1.25rem;
    }
    
}




